:host(.toast-wrapper) {
    background-color: black
}

.app-home {
    padding-top: 10px;
}

.page-body {
    margin-top: 10vh;
}

.page-subTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.toast-resolve {
    /* background-color: red; */
}

button {
    background: #5851ff;
    color: white;
    margin: 8px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 20px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .08);
    outline: 0;
    letter-spacing: .04em;
    transition: all .15s ease;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .1);
    transform: translateY(1px);
}

.app-home {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    /* padding: 0 */
}

.app-home::after {
    content: "";
    background: url("../../assets/background/background-roubado-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.card .icon {
    font-size: 4em;
}

.card {
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card.botton {
    margin-top: 3vh;
    width: 90%;
}

.card.botton p {
    margin: 1vh 0vh 1vh 0vh
}

.cards-botton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.click-warning {
    text-align: center
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.app-home .container {
    padding: 2px 16px;
}

.page-title {
    display: flex;
    justify-content: center;
    color: var(--cooffee-tertiary);
}

.toast-div {
    display: flex;
    justify-content: center;
}

.toast {
    background: var(--cooffee-tertiary) !important;
    color: white !important;
}

.toasts-div {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    bottom: 10vh;
    left: 0;
}